
@{
    ViewBag.Title = "Computer Web Shop | Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerSection {
    @*@Html.Partial("_LayoutProductHeader")*@

}


<section>

    <div class="seller-cntr bg-light m-b-lg">
        <div class="seller-profile"> <img id="imgBanner" src="@Url.Content("~/Content/images/top2.jpg")"> </div>
        @*<div class="profile-picture">
            <img id="imgDisplay" src="@Url.Content("~/Content/images/dell.png")" class="img-circle m-b avatar" alt="seller-image">
            <div class=" text-center">
                <div class="text-color h4"> <span class="font-extra-bold font-uppercase " id="txtDisplayTitle"></span></div>
                <div id="idRating">
                    <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                </div>
                <p class="p-m" id="txtDescription"> </p>
            </div>
        </div>*@
    </div>
</section>

@*@Html.Partial("_BrandItems")*@