
<nav class="navbar  navbar-top navbar-default" style="background-color: #332538 !important">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a href="@Url.Action("index","home")"><img src="@Url.Content("~/images/logo-small.png")" class="logo" /></a>
        </div>
        <div id="navbar-client" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="#" data-toggle="modal" id="lnkSeller" data-target="#join-seller-model">Become a Seller</a></li>*@
                <li><a href="@Url.Action("CustomerService","home")">Kundtjanst</a></li>
                <li><a href="/Identity/Account/Login">Konto</a></li>
                <li><a href="@Url.Action("Detail","Product")">Varukorg</a></li>
                <li><a href="/Identity/Account/Login">Admin</a></li>
                @*<li><a id="lnkJoin" class="navbar-brand" href="#" style="color: #fff !important;" data-toggle="modal" data-target="#join-us-model"> &nbsp; join &nbsp;</a></li>*@
            </ul>
        </div>
    </div>
</nav>

