<footer class="footer-cont">
    <div class="container">
        <div class="col-md-4 col-xs-4">
            @*<a href="#"><i class="fa fa-facebook-square fa-2" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus-square fa-2" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-2" aria-hidden="true"></i></a>*@
            <ul class="list-unstyled" style="color:#c0bfcf !important; cursor:pointer">
                <li><a href="#"> Sociala Medier </a></li>
                <li><a href="#"> Twitter </a></li>
                <li><a href="#"> Instagram </a> </li>
                <li><a href="#"> Facebook </a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-4" style=" text-align: center; ">
            <p><a href="@Url.Action("CustomerService","home")"> Kundservice  </a></p>
            @*<p>© 2021 computerWebShop.com. ALL RIGHTS RESERVED.  <a href="@Url.Action("PrivacyPolicy","home")"> Kundservice  </a>| <a href="@Url.Action("TermConditions","home")"> Kontakt info </a>  </p>*@
        </div>
        <div class="col-md-4 col-xs-4" style=" text-align: center; ">
            <p><a href="@Url.Action("ContactUs","home")"> Kontakt info </a></p>

        </div>

    </div>
</footer>