<section id="feat-seller-container">
	<div class="container p-lg">
		<div class="row">
			<h2 class="text-center"> Popular Products</h2>
			<p class="text-center font24">Popular <span style="color:#85cb15">Products</span> </p>
				<div class="col-md-12">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="hpanel">
								<div class="panel-body">
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 64px;
             height: 64px;" src="~/images/pro1.png" data-holder-rendered="true">
											</a>
										</div>
										<div class="media-body">
											<h4 class="media-heading">Product Title </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
										</div>
									</div>
								</div>
								<div class="panel-footer pull-left width100">
							
									<div class="col-sm-4"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="hpanel">
								<div class="panel-body">
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 64px;
             height: 64px;" src="~/images/pro2.png" data-holder-rendered="true">
											</a>
										</div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Product Title </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        </div>
									</div>
								</div>
								<div class="panel-footer pull-left width100">
									
									<div class="col-sm-4"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="hpanel">
								<div class="panel-body">
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 64px;
             height: 64px;" src="~/images/pro3.jpg" data-holder-rendered="true">
											</a>
										</div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Product Title </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        </div>
									</div>
								</div>
								<div class="panel-footer pull-left width100">
						
									<div class="col-sm-4"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="hpanel">
								<div class="panel-body">
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 64px;
             height: 64px;" src="~/images/pro1.png" data-holder-rendered="true">
											</a>
										</div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Product Title </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        </div>
									</div>
								</div>
								<div class="panel-footer pull-left width100">
									@*<div class="col-sm-8"> <i class="fa fa-map-marker" aria-hidden="true"></i> 68 5th Avenue New York</div>*@
									<div class="col-sm-4"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="hpanel">
								<div class="panel-body">
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 64px;
             height: 64px;" src="~/images/pro2.png" data-holder-rendered="true">
												
											</a>
										</div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Product Title </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        </div>
									</div>
								</div>
								<div class="panel-footer pull-left width100">
							
									<div class="col-sm-4"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="hpanel">
								<div class="panel-body">
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 64px;
             height: 64px;" src="~/images/pro2.png" data-holder-rendered="true">
											</a>
										</div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Product Title </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        </div>
									</div>
								</div>
								<div class="panel-footer pull-left width100">
							
									<div class="col-sm-4"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		</div>
	</div>
</section>
