@{
    ViewBag.Title = "Computer Web Shop | Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerSection {
    @Html.Partial("_LayoutProductHeader")

}
<section>
    <div class="container sectionspc">

        <div class="col-md-6">
            <h2>Customer Service Enquiries</h2>
            <p class="font24">
                Questions about your order? <br />
                We're here to help! Email us at <a href="mailto:support@ComputerWebShop.com" class="text-info">support@ComputerWebShop.com</a> <br>
                or call us on <strong class="text-success"> +44 203 699 9977</strong>
            </p>
            <p>Please note we don't currently accept orders over the phone - so if you'd like to place an order, please place it online. The number above is for customer service enquiries only.</p>
        </div>
        <div class="col-md-6">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="page-header">
                        <h3 class="font-bold">Contact Us</h3>
                        <p>We'll do Our Best to get back to you as soon as possible</p>
                    </div>
                    <form id="contact-form" method="post" action="contact-2.php" role="form">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_name">Your Name *</label>
                                        <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="form_email" type="email" name="email" class="form-control" required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Phone</label>
                                        <input id="form_phone" type="tel" name="phone" class="form-control" required="required" data-error="your Phone is required.">
                                        <div class="help-block with-errors tooltip-inner"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="message" class="form-control" rows="4" required data-error="Please, leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-send" style="background-color:#332538" value="Send message">
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
