@{
    ViewBag.Title = "Computer Web Shop | Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerSection {
    @Html.Partial("_LayoutProductHeader")

}
    <section>
        <div class="container sectionspc">


            <br />
            <br />
            <div class="thankyou-page">
                <div class="_header">
                    <h1 style="text-align:center">Thank You!</h1>
                </div>
                <div class="_body">
                    <div class="_box">
                        <br />

                        <h2 style="text-align:center">
                            <strong>You have Successeful Pay Your Bill</strong>
                        </h2>

                    </div>
                </div>
                <div class="_footer">
                    <br />
                    <br />
                    <a class="btn btn-default" href="@Url.Action("index","home")">Back to homepage</a>
                </div>
            </div>



        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </section>
